* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#vp1:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
  transition: all 3s;
}

#vp1:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp1:hover ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp2:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
  transition: all 3s;
}

#vp2:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp2:hover ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp3:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
  transition: all 3s;
}

#vp3:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp3:hover ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp4:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
  transition: all 3s;
}

#vp4:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp4:hover ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  height: 7rem;
  transition: all 3s;
}

#vp5:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
  transition: all 3s;
}

#vp5:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  transition: all 3s;
  height: 7rem;
}

#vp5:hover ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  opacity: 1;
  height: 7rem;
  transition: all 3s;
}

.bayan {
  width: 75%;
  margin: 0 auto;
  outline: 2px dashed darkblue;
}

.spoiler-selector-wrap {
  display: flex;
  flex-direction: column;
}

.spoiler-viewport {
  background-color: #abc;
  display: flex;
  align-items: center;
  justify-items: center;
}

.catch-area {
  z-index: 999;
}

.catch-area__label {
  border: 0.1rem solid gray;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.catch-area__heading {
  display: flex;
  flex-direction: row;
}

.catch-area__descriptor {
  text-decoration: underline;
}

.catch-area__cmark {
  display: block;
  height: 1.2em;
  width: 1.2em;
  background-color: #abc;
}

.spoiler__scrool-holder {
  display: flex;
  justify-items: center;
}

.spoiler__scrool-holder > img {
  height: 0;
  opacity: 0;
  margin: 0 auto;
}

.spoiler__image {
  border: none;
}

input {
  display: none;
}

.hidden {
  display: none;
}

label {
  cursor: pointer;
}

label:active {
  background-color: greenyellow;
}

input:checked ~ * {
  background-color: greenyellow;
}

@media screen and (min-width: 320px) {
  * {
    font-size: 1rem;
    color: red;
  }
}

@media screen and (min-width: 820px) {
  * {
    font-size: 1.3rem;
    color: purple;
    font-weight: bold;
  }
}

@media screen and (min-width: 920px) {
  * {
    font-size: 1.5rem;
    color: darkblue;
    font-weight: bold;
  }
}

@media (hover: hover) {
  label:hover {
    background-color: gold;
    transition: all 1s;
  }
}
