* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#vp1:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
}

#vp1:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  transition: all 0.3s;
}

#vp2:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
}

#vp2:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  display: flex;
  transition: all 0.3s;
}

#vp3:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
}

#vp3:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  transition: all 0.3s;
  display: flex;
}

#vp4:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
}

#vp4:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  transition: all 0.3s;
  display: flex;
}
#vp5:checked ~ .catch-area__heading .catch-area__cmark {
  transform: rotate(45deg);
  background-color: red;
  text-align: center;
}

#vp5:checked ~ .spoiler__viewport .spoiler__scrool-holder > * {
  background-color: greenyellow;
  transition: all 0.3s;
  display: flex;
}

.bayan {
  width: 75%;
  margin: 0 auto;
  outline: 2px dashed darkblue;
}

.spoiler-selector-wrap {
  display: flex;
  flex-direction: column;
}

.spoiler-viewport {
  background-color: #abc;
}

.catch-area {
  z-index: 999;
}

.catch-area__label {
  border: 2px solid rebeccapurple;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.catch-area__heading {
  display: flex;
  flex-direction: row;
}

.catch-area__descriptor {
  color: brown;
}

.catch-area__cmark {
  display: block;
  height: 1.2em;
  width: 1.2em;
  background-color: #abc;
}

.spoiler__scrool-holder > img {
  /* display: none; */
  display: none;
}

.spoiler__image {
  /* display: none; */
}

.hidden {
  display: none;
}
